.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .textcontent{
        margin-top: 5vh;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .textA{
            width: 30%;
            padding: 1%;
            font-size: 15px;
            font-weight: 700;
            color: $textgray;
        }
        .textB{           
            // border: 1px solid red;
            // font-size: 25px;
            font-size: 18px;
            padding: 1%;
            font-weight: 700;
            color: $textblack;
        }
        .textC{
            width: 90%;
            padding: 1%;
            // font-size: 18px;
            font-size: 19px;
            font-weight: 500;
            // border: 1px solid black;
            color: $textgray;

        }
    }
    .buttons{
        max-width: 236px;
        width: 100%;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        button:nth-child(1),button:nth-child(2){
            cursor: pointer;
            max-width: 236px;
            width: 100%;
            height: 68px;
            position: relative;
            border-radius: 30px;
            text-align: center;
            border-style: none;
            line-height: 68px;
            background-color: $orange;
            color: white;
            transition: .3s linear background-color;
            overflow: hidden;
            outline: none;
            font-size: 24px;
            font-weight: 700;
        }
        button:nth-child(1):hover{
            background-color: #fa6c38;
        }
        button:nth-child(2){
            margin-top: 17px;
            background-color: transparent;
            border: 1px solid $orange;
            color: $orange;
        }
        button:nth-child(2):before {
            content: "";
            position: absolute;
            bottom: -100%;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $orange;
            transition: .2s linear;
        }
        button:nth-child(2):hover:before{
            bottom: 0;
            opacity: .2;
        }
    }
    .phones{
        margin-top: 6vh;   
       img{
           width: 100%;
       }
    }
    .textD{
        margin-top: 2vh;
        text-align: center;
        // border: 1px solid black;
        width: 55%;
        font-size: 18px;
        //order 1 da line nad textd
        color: $textblack;
        font-weight: 600;
    }
    .line{
        margin-top: 5vh;
        width: 100%;
        height: 2px;
        background-color: #E4E4E4;
    }
}