.content5{
    width: 100%;
    height: 75vh;
    background-color: #252B42;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .textcontent5{
        width: 81%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        .text5A{
            font-size: 18px;
        }
        .text5B{
            font-size: 19px;
        }
    }
    .buttons5{
        margin-top: 7vh;
        max-width: 339px;
        width: 81%;
        display: flex;
        button:nth-child(1){
            cursor: pointer;
            max-width: 137px;
            width: 73%;
            height: 64px;
            border-radius: 10px;
            line-height: 64px;
            background-color: $orange;
            color: white;
            text-align: center;
            margin-right: 5%;
            outline: none;
            border-style: none;
            font-size: 24px;
            transition: .3s linear background-color;
        }
        button:nth-child(2){
            cursor: pointer;
            max-width: 186px;
            width: 100%;
            height: 64px;
            text-align: center;
            line-height: 64px;
            border-radius: 10px;
            border: 1px solid white;
            color: white;
            background-color: transparent;
            font-size: 24px;
            position: relative;
            overflow: hidden;
            transition: .3s linear background-color;
            outline: none;
        }
        button:nth-child(1):hover{
            background-color: #fa6c38;
        }
        button:nth-child(2):before {
            content: "";
            position: absolute;
            top: -100%;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            transition: .2s linear;
        }
        button:nth-child(2):hover:before{
            top: 0;
            opacity: .2;
        }
    }
}