.content3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container3{
        display: flex;
        flex-direction: column;
        align-items: center;
        .textcontent3{
            margin-top: 8vh;
            width: 86%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .text3A{
                font-size: 19px;
                padding: 1%;    
                color: $orange;
                font-weight: 700;
            }
            .text3B{
                font-size: 18px;
                margin-left: 4%;
                margin-right: 4%;  
                color: $textblack;
                font-weight: 700;
            }
            .text3C{
                font-size: 19px;
                margin-left: 15%;
                margin-right: 15%;   
                color: $textgray;
                font-weight: 500;
            }
        }
        .phone3{
         margin-top: 7vh;
         margin-bottom: 7vh;
         display: flex;
         flex-direction: column;
         img{
             width: 100%;
         }
        }
    }
  
}