header{
    width: 100%;
    height: 15.7vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;  
    .container1{
        display: flex;
        position: relative;
        height: 69%;
        width: 92%;
        .logo{
            position: absolute;
            display: flex;
            top: 0;
            left: 2%;
            img{
                max-width: 104px;
                height: 51px;
                width: 100%;
            }
        }
        .menuDesktop{
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
            ol{
                width: 580px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style-type: none;
                li{
                    cursor: pointer;
                    padding: 10px;
                    font-size: $menu;
                    color: $textblack;
                    font-weight: 600;
                    position: relative;
                }
                li::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    opacity: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0%;
                    height: 2px;
                    background-color: $orange;
                    transition: .1s linear;
                }
                li:hover::after{
                    width: 60%;
                    opacity: 1;
                }
            }
        }
        .burger{
            width: 20px;
            height: 20px;
            position: absolute;
            top: calc(50% - (20px / 2));
            right: 2%;   
            border: 0;
            border-top: 4px solid $textgray;
            outline: none;
            transition: .4s transform linear;
            background: none;
            cursor: pointer;
        }
        .burger::before,.burger::after{
            content: "";
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            border-top: 4px $textgray solid;
            transform: translateY(4px);
        }
        .burger::after{
            transform: translateY(12px);
            transition: .3s transform linear;
        }
        .burger.on{
            transform: rotate(45deg) translateY(4px);
            border: none;
            transition: .3s linear;
        }
        .burger.on::after{
            transform: rotate(-90deg) translateX(-4px);
            border-top: 3px $orange solid;
            transition: .3s linear;
        }
        .burger.on::before{
            border-top: 3px $orange solid;
            transition: .3s linear;

        }     
        .burgerSlide{
            position: absolute;       
            transform: translateX(-50%);
            top: -100vh;
            left: 50%;
            transition: .3s linear;
            opacity: 0;
            a{
                color: $orange;
                text-decoration: none;
                font-size: $pfz;
            }
            ol{
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;;
                align-items: center;
                list-style-type: none;
                li{
                    position: relative;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
        .burgerSlide.on{
            top: 10.5vh;
            opacity: .8;
        }
    }
}
