@media (min-width:1200px){
    header{
        height: 156px;
        .container1{
            width: 100%;
            height: 156px;
            .logo{
                top: 50%;
                transform: translateY(-50%);
                left: 90px;
                img{
                    max-width: 206px;
                    height: 102px;
                    width: 100%;
                }
            }
            .menuDesktop{
                display: block;
            }
            .burger{
                display: none;
            }
            .burgerSlide{
                display: none;
            }
        }
         
    }
    .content{
        position: relative;
        .bgc{
            width: 100%;
            height: 619px;
            background-image: url('../img/bgc.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            position: absolute;
            z-index: -9999;
        }
        .textcontent{
            width: 1005px;
            margin-top: 72px;
            height: 326px;
            justify-content: space-between;
            color: white;
            .textA{
                p{
                    font-size: $pfz;
                    color: white;
                }
            }
            .textB{
                h1{
                    font-size: $h1large;
                    color: white;
                }
            }
            .textC{
                // border: 1px solid black;
                width: 728px;
                height: 96px;
                color: white;
                p{
                    margin-top: 10px;
                    font-size: $pfz;
                }
            }
        }
        .buttons{
            margin-top: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 506px;
            height: 68px;
            button:nth-child(1),button:nth-child(2){
                margin: 0;
                width: 236px;
            }
            button:nth-child(1):hover{
                background-color: #fa6c38;
            }
            button:nth-child(2){
                background-color: transparent;
                color: white;
                border: 1px solid white;
            }
            button:nth-child(2):before {
                content: "";
                position: absolute;
                bottom: -100%;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                transition: .2s linear;
            }
            button:nth-child(2):hover:before{
                bottom: 0;
                opacity: .2;
            }
        }
        .phones{
            margin-top: 1vh;
            margin-bottom: 50px;
            margin-right: 5%;
        }
        .textD{
            margin-top: 72px;
            margin-bottom: 58px;
            order: 1;
            h1{
                font-size: $h1medium;
            }
        }
        .line{
            width: 884px;
        }
    }
    .content.on{
        margin-top: 0vh;
    }
    .content2{
        width: 100%;
        height: 657px;
        flex-direction: row;
        justify-content: center;
         .container2{
             width: 1141px;
             height: 525px;
             position: relative;
            .textcontent2{
                position: absolute;
                top: 150px;
                right: 0;
                margin: 0;
                width: 568px;
                height: 280px;
                order: 1;
                align-items: flex-start;
                .text2A{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                }
                .text2B{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    line-height: 57px;
                }
                .text2C{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    line-height: 38px;
                    width: 467px;
                    p{
                        font-size: $pfz;
                    }
                }
            }
            .phone2{
                position: absolute;
                top: 0;
                left: 95px;
                margin: 0;
                padding: 0;
            }
         }
    }
    .content3{
        margin-top: 150px;
        width: 100%;
        height: 657px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
         .container3{
             width: 1141px;
             height: 525px;
             position: relative;
            .textcontent3{
                position: absolute;
                top: 88px;
                left: 95px;
                margin: 0;
                width: 568px;
                height: 280px;
                order: 1;
                align-items: flex-start;
                .text3A{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                }
                .text3B{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    line-height: 57px;
                }
                .text3C{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    line-height: 38px;
                    width: 467px;
                    p{
                        font-size: $pfz;
                    }
                }
            }
            .phone3{
                position: absolute;
                top: -70px;
                right: 95px;
                margin: 0;
                padding: 0;
            }
         }
    }
    .content4{
        margin-top: 74px;
        width: 100%;
        height: 657px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
         .container4{
             width: 1141px;
             height: 525px;
             position: relative;
            .textcontent4{
                position: absolute;
                top: 150px;
                right: 0;
                margin: 0;
                width: 568px;
                height: 280px;
                order: 1;
                align-items: flex-start;
                .text4A{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                }
                .text4B{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    line-height: 57px;
                }
                .text4C{
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    line-height: 38px;
                    width: 467px;
                    p{
                        font-size: $pfz;
                    }
                }
            }
            .phone4{
                position: absolute;
                top: 0;
                left: 95px;
                margin: 0;
                padding: 0;
            }
         }
    }
    .content5{
        width: 100%;
        height: 516px;
        background-image: url('../img/bgc2.png');
        background-repeat: no-repeat;
        background-size: 123%;
        background-position: center;
        .textcontent5{
            width: 860px;
            height: 135px;
            .text5A{
                h1{
                margin: 10px;
                font-size: $h1small;
                }
            }
            .text5B{
                p{
                    margin: 10px;
                    font-size: $pfz;
                    color: white;
                }
            }
        }
        .buttons5{
            width: 331px;
            height: 64px;
            justify-content: space-between;
            button:nth-child(1){
                width: 142px;
            }
            button:nth-child(2){
                width: 173px;
            }
            button:nth-child(1):hover{
                background-color: #fa6c38;
            }
            button:nth-child(2):before {
                content: "";
                position: absolute;
                top: -100%;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                transition: .2s linear;
            }
            button:nth-child(2):hover:before{
                top: 0;
                opacity: .2;
            }
        }
    }
    footer{
        width: 100%;
        height: 240px;
        flex-direction: row;
        justify-content: space-evenly;
        .logo2,.text5B{
            display: block;
        }
        .socials{
            width: 171px;
            height: 41px;
        }
        .text5A{
            display: none;
        }
        .text5B{
            span{
                font-size: $pmini;
                font-weight: 700;
                color: $footertextcolor;
            }
        }
    }
}