$orange: #FA4A0C;
$textblack: #252B42;
$textgray:#737373;
$textlightgray: #BDBDBD;
$footertextcolor:#5C5C5C;
//destkop fonts 
$menu: 16px;
$h1large: 58px;
$h1small:40px;
$h1medium:44px;
$pfz: 24px;
$pmini:12px;