* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  height: 15.7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 69%;
  width: 92%;
}

header .container1 .logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 2%;
}

header .container1 .logo img {
  max-width: 104px;
  height: 51px;
  width: 100%;
}

header .container1 nav {
  display: none;
}

header .container1 .burger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2%;
}

header .container1 .burger i {
  font-size: 25px;
  color: #737373;
}

.content {
  width: 100%;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .textcontent {
  margin-top: 5vh;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.content .textcontent .textA {
  width: 30%;
  padding: 1%;
  font-size: 15px;
  font-weight: 700;
}

.content .textcontent .textB {
  font-size: 18px;
  padding: 1%;
}

.content .textcontent .textC {
  width: 90%;
  padding: 1%;
  font-size: 19px;
}

.content .buttons {
  max-width: 236px;
  width: 100%;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .buttons .button1, .content .buttons .button2 {
  max-width: 236px;
  width: 100%;
  height: 68px;
  border-radius: 30px;
  text-align: center;
  line-height: 68px;
  background-color: #FA4A0C;
  color: white;
}

.content .buttons .button2 {
  background-color: #fff;
  border: 1px solid #FA4A0C;
  color: #FA4A0C;
  margin-top: 2vh;
}

.content .phones {
  margin-top: 6vh;
}

.content .phones img {
  width: 100%;
}

.content .textD {
  margin-top: 2vh;
  text-align: center;
  border: 1px solid black;
  width: 55%;
  font-size: 18px;
}

.content .line {
  margin-top: 5vh;
  width: 100%;
  height: 2px;
  background-color: #E4E4E4;
}

.content2 {
  background-color: #FAFAFA;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content2 .textcontent2 {
  margin-top: 8vh;
  width: 86%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content2 .textcontent2 .text2A {
  font-size: 19px;
  padding: 1%;
}

.content2 .textcontent2 .text2B {
  font-size: 18px;
  margin-left: 4%;
  margin-right: 4%;
}

.content2 .textcontent2 .text2C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
}

.content2 .phone2 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content2 .phone2 img {
  width: 100%;
}

.content3 {
  background-color: #FAFAFA;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content3 .textcontent3 {
  margin-top: 8vh;
  width: 86%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content3 .textcontent3 .text3A {
  font-size: 19px;
  padding: 1%;
}

.content3 .textcontent3 .text3B {
  font-size: 18px;
  margin-left: 4%;
  margin-right: 4%;
}

.content3 .textcontent3 .text3C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
}

.content3 .phone3 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content3 .phone3 img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */