* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  height: 15.7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 69%;
  width: 92%;
}

header .container1 .logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 2%;
}

header .container1 .logo img {
  max-width: 104px;
  height: 51px;
  width: 100%;
}

header .container1 .menuDesktop {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
}

header .container1 .menuDesktop ol {
  width: 580px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

header .container1 .menuDesktop ol li {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

header .container1 .burger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2%;
}

header .container1 .burger i {
  font-size: 25px;
  color: #737373;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .textcontent {
  margin-top: 5vh;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.content .textcontent .textA {
  width: 30%;
  padding: 1%;
  font-size: 15px;
  font-weight: 700;
}

.content .textcontent .textB {
  font-size: 18px;
  padding: 1%;
}

.content .textcontent .textC {
  width: 90%;
  padding: 1%;
  font-size: 19px;
}

.content .buttons {
  max-width: 236px;
  width: 100%;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .buttons .button1, .content .buttons .button2 {
  max-width: 236px;
  width: 100%;
  height: 68px;
  border-radius: 30px;
  text-align: center;
  line-height: 68px;
  background-color: #FA4A0C;
  color: white;
}

.content .buttons .button2 {
  background-color: #fff;
  border: 1px solid #FA4A0C;
  color: #FA4A0C;
  margin-top: 2vh;
}

.content .phones {
  margin-top: 6vh;
}

.content .phones img {
  width: 100%;
}

.content .textD {
  margin-top: 2vh;
  text-align: center;
  width: 55%;
  font-size: 18px;
}

.content .line {
  margin-top: 5vh;
  width: 100%;
  height: 2px;
  background-color: #E4E4E4;
}

.content2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content2 .textcontent2 {
  margin-top: 8vh;
  width: 86%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content2 .textcontent2 .text2A {
  font-size: 19px;
  padding: 1%;
}

.content2 .textcontent2 .text2B {
  font-size: 18px;
  margin-left: 4%;
  margin-right: 4%;
}

.content2 .textcontent2 .text2C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
}

.content2 .phone2 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content2 .phone2 img {
  width: 100%;
}

.content3 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content3 .textcontent3 {
  margin-top: 8vh;
  width: 86%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content3 .textcontent3 .text3A {
  font-size: 19px;
  padding: 1%;
}

.content3 .textcontent3 .text3B {
  font-size: 18px;
  margin-left: 4%;
  margin-right: 4%;
}

.content3 .textcontent3 .text3C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
}

.content3 .phone3 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content3 .phone3 img {
  width: 100%;
}

.content4 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content4 .textcontent4 {
  margin-top: 8vh;
  width: 86%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content4 .textcontent4 .text4A {
  font-size: 19px;
  padding: 1%;
}

.content4 .textcontent4 .text4B {
  font-size: 18px;
  margin-left: 4%;
  margin-right: 4%;
}

.content4 .textcontent4 .text4C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
}

.content4 .phone4 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content4 .phone4 img {
  width: 100%;
}

.content5 {
  width: 100%;
  height: 75vh;
  background-color: #252B42;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content5 .textcontent5 {
  width: 81%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content5 .textcontent5 .text5A {
  font-size: 18px;
}

.content5 .textcontent5 .text5B {
  font-size: 19px;
}

.content5 .buttons5 {
  margin-top: 7vh;
  max-width: 339px;
  width: 81%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content5 .buttons5 .button3 {
  max-width: 137px;
  width: 73%;
  height: 64px;
  border-radius: 10px;
  line-height: 64px;
  background-color: #FA4A0C;
  color: white;
  text-align: center;
  margin-right: 5%;
}

.content5 .buttons5 .button4 {
  max-width: 186px;
  width: 100%;
  height: 64px;
  text-align: center;
  border: white 1px solid;
  line-height: 64px;
  border-radius: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
}

footer .logo2, footer .text5B {
  display: none;
}

footer .socials {
  max-width: 171px;
  width: 100%;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .text5A {
  margin-top: 2vh;
}

footer .text5A p {
  font-size: 15px;
}

@media (min-width: 370px) {
  header {
    height: 12.7vh;
  }
  .content .textcontent {
    height: 35vh;
  }
  .content .textcontent .textA p {
    font-size: 16px;
  }
  .content .textcontent .textB h1 {
    font-size: 36px;
  }
  .content .textcontent .textC p {
    font-size: 24px;
  }
  .content .buttons .button1, .content .buttons .button2 {
    font-size: 24px;
    font-weight: 700;
  }
  .content .textD {
    width: 60%;
    font-size: 24px;
    font-weight: 700;
  }
  .content2 .textcontent2 {
    height: 50vh;
  }
  .content2 .textcontent2 .text2A p {
    font-size: 24px;
    font-weight: 700;
  }
  .content2 .textcontent2 .text2B h1 {
    font-size: 40px;
  }
  .content2 .textcontent2 .text2C p {
    font-size: 24px;
    font-weight: 500;
  }
  .content3 .textcontent3 {
    height: 50vh;
  }
  .content3 .textcontent3 .text3A p {
    font-size: 24px;
    font-weight: 700;
  }
  .content3 .textcontent3 .text3B h1 {
    font-size: 40px;
  }
  .content3 .textcontent3 .text3C p {
    font-size: 24px;
    font-weight: 500;
  }
  .content4 .textcontent4 {
    height: 50vh;
  }
  .content4 .textcontent4 .text4A p {
    font-size: 24px;
    font-weight: 700;
  }
  .content4 .textcontent4 .text4B h1 {
    font-size: 40px;
  }
  .content4 .textcontent4 .text4C p {
    font-size: 24px;
    font-weight: 500;
  }
  .content5 .textcontent5 {
    height: 25vh;
  }
  .content5 .textcontent5 h1 {
    font-size: 40px;
  }
  .content5 .textcontent5 p {
    font-size: 24px;
  }
  .content5 .buttons5 {
    font-size: 16px;
  }
  footer .text5a p {
    font-size: 12px;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  header {
    height: 156px;
  }
  header .container1 {
    width: 100%;
    height: 156px;
  }
  header .container1 .logo {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 90px;
  }
  header .container1 .logo img {
    max-width: 206px;
    height: 102px;
    width: 100%;
  }
  header .container1 .menuDesktop {
    display: block;
  }
  header .container1 .burger {
    display: none;
  }
  .content {
    position: relative;
  }
  .content .bgc {
    width: 100%;
    height: 619px;
    background-image: url("/img/bgc.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: -9999;
  }
  .content .textcontent {
    width: 1005px;
    margin-top: 72px;
    height: 326px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
  }
  .content .textcontent .textA p {
    font-size: 24px;
  }
  .content .textcontent .textB h1 {
    font-size: 58px;
  }
  .content .textcontent .textC {
    width: 728px;
    height: 96px;
  }
  .content .textcontent .textC p {
    margin-top: 10px;
    font-size: 24px;
  }
  .content .buttons {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 506px;
    height: 68px;
  }
  .content .buttons .button1, .content .buttons .button2 {
    margin: 0;
    width: 236px;
  }
  .content .buttons .button2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  .content .phones {
    margin-top: 1vh;
    margin-bottom: 50px;
    margin-right: 5%;
  }
  .content .textD {
    margin-top: 72px;
    margin-bottom: 58px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content .textD h1 {
    font-size: 44px;
  }
  .content .line {
    width: 884px;
  }
  .content2 {
    width: 100%;
    height: 657px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content2 .container2 {
    width: 1141px;
    height: 525px;
    position: relative;
  }
  .content2 .container2 .textcontent2 {
    position: absolute;
    top: 150px;
    right: 0;
    margin: 0;
    width: 568px;
    height: 280px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content2 .container2 .textcontent2 .text2A {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .content2 .container2 .textcontent2 .text2B {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 57px;
  }
  .content2 .container2 .textcontent2 .text2C {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 38px;
    width: 467px;
  }
  .content2 .container2 .textcontent2 .text2C p {
    font-size: 24px;
  }
  .content2 .container2 .phone2 {
    position: absolute;
    top: 0;
    left: 95px;
    margin: 0;
    padding: 0;
  }
  .content3 {
    margin-top: 150px;
    width: 100%;
    height: 657px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content3 .container3 {
    width: 1141px;
    height: 525px;
    position: relative;
  }
  .content3 .container3 .textcontent3 {
    position: absolute;
    top: 88px;
    left: 95px;
    margin: 0;
    width: 568px;
    height: 280px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content3 .container3 .textcontent3 .text3A {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .content3 .container3 .textcontent3 .text3B {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 57px;
  }
  .content3 .container3 .textcontent3 .text3C {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 38px;
    width: 467px;
  }
  .content3 .container3 .textcontent3 .text3C p {
    font-size: 24px;
  }
  .content3 .container3 .phone3 {
    position: absolute;
    top: -70px;
    right: 95px;
    margin: 0;
    padding: 0;
  }
  .content4 {
    margin-top: 74px;
    width: 100%;
    height: 657px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content4 .container4 {
    width: 1141px;
    height: 525px;
    position: relative;
  }
  .content4 .container4 .textcontent4 {
    position: absolute;
    top: 150px;
    right: 0;
    margin: 0;
    width: 568px;
    height: 280px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content4 .container4 .textcontent4 .text4A {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .content4 .container4 .textcontent4 .text4B {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 57px;
  }
  .content4 .container4 .textcontent4 .text4C {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 38px;
    width: 467px;
  }
  .content4 .container4 .textcontent4 .text4C p {
    font-size: 24px;
  }
  .content4 .container4 .phone4 {
    position: absolute;
    top: 0;
    left: 95px;
    margin: 0;
    padding: 0;
  }
  .content5 {
    width: 100%;
    height: 516px;
    background-image: url("/img/bgc2.png");
    background-repeat: no-repeat;
    background-size: 123%;
    background-position: center;
  }
  .content5 .textcontent5 {
    width: 860px;
    height: 135px;
  }
  .content5 .textcontent5 .text5A h1 {
    margin: 10px;
    font-size: 40px;
  }
  .content5 .textcontent5 .text5B p {
    margin: 10px;
    font-size: 24px;
  }
  .content5 .buttons5 {
    width: 331px;
    height: 64px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content5 .buttons5 .button3 {
    width: 142px;
  }
  .content5 .buttons5 .button4 {
    width: 173px;
  }
  footer {
    width: 100%;
    height: 240px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .logo2, footer .text5B {
    display: block;
  }
  footer .socials {
    width: 171px;
    height: 41px;
  }
  footer .text5A {
    display: none;
  }
  footer .text5B span {
    font-size: 12px;
    font-weight: 700;
  }
}
/*# sourceMappingURL=style.css.map */