*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    flex-direction: column;
}
@import 'variables';
@import 'css1';
@import 'css2';
@import 'css3';
@import 'css4';
@import 'css5';
@import 'css6';
@import 'css7';
@import 'xxxs';
@import '375';
@import 'lg';
@import 'tablets';
@import 'keyframes';

