* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  height: 15.7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

header .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 69%;
  width: 92%;
}

header .container1 .logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 2%;
}

header .container1 .logo img {
  max-width: 104px;
  height: 51px;
  width: 100%;
}

header .container1 .menuDesktop {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
}

header .container1 .menuDesktop ol {
  width: 580px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

header .container1 .menuDesktop ol li {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: #252B42;
  font-weight: 600;
  position: relative;
}

header .container1 .menuDesktop ol li::after {
  content: "";
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #FA4A0C;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

header .container1 .menuDesktop ol li:hover::after {
  width: 60%;
  opacity: 1;
}

header .container1 .burger {
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - (20px / 2));
  right: 2%;
  border: 0;
  border-top: 4px solid #737373;
  outline: none;
  -webkit-transition: .4s transform linear;
  transition: .4s transform linear;
  background: none;
  cursor: pointer;
}

header .container1 .burger::before, header .container1 .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 4px #737373 solid;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

header .container1 .burger::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: .3s transform linear;
  transition: .3s transform linear;
}

header .container1 .burger.on {
  -webkit-transform: rotate(45deg) translateY(4px);
          transform: rotate(45deg) translateY(4px);
  border: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

header .container1 .burger.on::after {
  -webkit-transform: rotate(-90deg) translateX(-4px);
          transform: rotate(-90deg) translateX(-4px);
  border-top: 3px #FA4A0C solid;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

header .container1 .burger.on::before {
  border-top: 3px #FA4A0C solid;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

header .container1 .burgerSlide {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -100vh;
  left: 50%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 0;
}

header .container1 .burgerSlide a {
  color: #FA4A0C;
  text-decoration: none;
  font-size: 19px;
}

header .container1 .burgerSlide ol {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header .container1 .burgerSlide ol li {
  position: relative;
  text-align: center;
  cursor: pointer;
}

header .container1 .burgerSlide.on {
  top: 10.5vh;
  opacity: .8;
}

.content {
  margin-top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.content .textcontent {
  margin-top: 5vh;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.content .textcontent .textA {
  width: 30%;
  padding: 1%;
  font-size: 15px;
  font-weight: 700;
  color: #737373;
}

.content .textcontent .textB {
  font-size: 18px;
  padding: 1%;
  font-weight: 700;
  color: #252B42;
}

.content .textcontent .textC {
  width: 90%;
  padding: 1%;
  font-size: 19px;
  font-weight: 500;
  color: #737373;
}

.content .buttons {
  max-width: 236px;
  width: 100%;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .buttons button:nth-child(1), .content .buttons button:nth-child(2) {
  cursor: pointer;
  max-width: 236px;
  width: 100%;
  height: 68px;
  position: relative;
  border-radius: 30px;
  text-align: center;
  border-style: none;
  line-height: 68px;
  background-color: #FA4A0C;
  color: white;
  -webkit-transition: .3s linear background-color;
  transition: .3s linear background-color;
  overflow: hidden;
  outline: none;
  font-size: 24px;
  font-weight: 700;
}

.content .buttons button:nth-child(2) {
  margin-top: 17px;
  background-color: transparent;
  border: 1px solid #FA4A0C;
  color: #FA4A0C;
}

.content .phones {
  margin-top: 6vh;
}

.content .phones img {
  width: 100%;
}

.content .textD {
  margin-top: 12vh;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #252B42;
  font-weight: 600;
}

.content .textD h1 {
  font-size: 24px;
}

.content .line {
  margin-top: 5vh;
  width: 100%;
  height: 2px;
  background-color: #E4E4E4;
}

.content.on {
  margin-top: 50vh;
}

.content2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content2 .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content2 .container2 .textcontent2 {
  margin-top: 8vh;
  width: 86%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content2 .container2 .textcontent2 .text2A {
  font-size: 19px;
  padding: 1%;
  color: #FA4A0C;
  font-weight: 700;
}

.content2 .container2 .textcontent2 .text2B {
  font-size: 18px;
  margin-left: 4%;
  margin-right: 4%;
  color: #252B42;
  font-weight: 700;
}

.content2 .container2 .textcontent2 .text2C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
  color: #737373;
  font-weight: 500;
}

.content2 .container2 .phone2 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content2 .container2 .phone2 img {
  width: 100%;
}

.content3 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content3 .container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content3 .container3 .textcontent3 {
  margin-top: 8vh;
  width: 86%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content3 .container3 .textcontent3 .text3A {
  font-size: 19px;
  padding: 1%;
  color: #FA4A0C;
  font-weight: 700;
}

.content3 .container3 .textcontent3 .text3B {
  font-size: 18px;
  margin-left: 4%;
  margin-right: 4%;
  color: #252B42;
  font-weight: 700;
}

.content3 .container3 .textcontent3 .text3C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
  color: #737373;
  font-weight: 500;
}

.content3 .container3 .phone3 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content3 .container3 .phone3 img {
  width: 100%;
}

.content4 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content4 .container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content4 .container4 .textcontent4 {
  width: 86%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content4 .container4 .textcontent4 .text4A {
  font-size: 19px;
  padding: 1%;
  color: #FA4A0C;
  font-weight: 700;
}

.content4 .container4 .textcontent4 .text4B {
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  color: #252B42;
  font-weight: 700;
}

.content4 .container4 .textcontent4 .text4C {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
  color: #737373;
  font-weight: 500;
}

.content4 .container4 .phone4 {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content4 .container4 .phone4 img {
  width: 100%;
}

.content5 {
  width: 100%;
  height: 75vh;
  background-color: #252B42;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content5 .textcontent5 {
  width: 81%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content5 .textcontent5 .text5A {
  font-size: 18px;
  font-weight: 700;
}

.content5 .textcontent5 .text5B {
  font-size: 19px;
  color: #BDBDBD;
  font-weight: 500;
}

.content5 .buttons5 {
  margin-top: 7vh;
  max-width: 339px;
  width: 81%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content5 .buttons5 button:nth-child(1) {
  cursor: pointer;
  max-width: 137px;
  width: 73%;
  height: 64px;
  border-radius: 10px;
  line-height: 64px;
  background-color: #FA4A0C;
  color: white;
  text-align: center;
  margin-right: 5%;
  outline: none;
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: .3s linear background-color;
  transition: .3s linear background-color;
}

.content5 .buttons5 button:nth-child(2) {
  cursor: pointer;
  max-width: 186px;
  width: 100%;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s linear background-color;
  transition: .3s linear background-color;
  outline: none;
  font-weight: 700;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20vh;
}

footer .logo2, footer .text5B {
  display: none;
}

footer .socials {
  max-width: 171px;
  width: 100%;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

footer .socials :hover.tw {
  -webkit-animation: twAnim 2s infinite linear;
          animation: twAnim 2s infinite linear;
}

footer .socials :hover.fb, footer .socials :hover.in {
  -webkit-animation: FbAndInAnim 2s infinite;
          animation: FbAndInAnim 2s infinite;
}

footer .text5A {
  margin-top: 2vh;
}

footer .text5A p {
  color: #5C5C5C;
  font-weight: 700;
}

footer .text5A span {
  font-size: 12px;
}

@media (min-width: 370px) {
  header {
    height: 12.7vh;
  }
  .content .textcontent {
    height: 35vh;
  }
  .content .textcontent .textA p {
    font-size: 16px;
  }
  .content .textcontent .textB h1 {
    font-size: 36px;
  }
  .content .textcontent .textC p {
    font-size: 24px;
  }
  .content .buttons .button1, .content .buttons .button2 {
    font-size: 24px;
    font-weight: 700;
  }
  .content .textD {
    width: 60%;
    font-size: 24px;
    font-weight: 700;
  }
  .content2 .textcontent2 {
    height: 50vh;
  }
  .content2 .textcontent2 .text2A p {
    font-size: 24px;
    font-weight: 700;
  }
  .content2 .textcontent2 .text2B h1 {
    font-size: 40px;
  }
  .content2 .textcontent2 .text2C p {
    font-size: 24px;
    font-weight: 500;
  }
  .content3 .textcontent3 {
    height: 50vh;
  }
  .content3 .textcontent3 .text3A p {
    font-size: 24px;
    font-weight: 700;
  }
  .content3 .textcontent3 .text3B h1 {
    font-size: 40px;
  }
  .content3 .textcontent3 .text3C p {
    font-size: 24px;
    font-weight: 500;
  }
  .content4 .textcontent4 {
    height: 50vh;
  }
  .content4 .textcontent4 .text4A p {
    font-size: 24px;
    font-weight: 700;
  }
  .content4 .textcontent4 .text4B h1 {
    font-size: 40px;
  }
  .content4 .textcontent4 .text4C p {
    font-size: 24px;
    font-weight: 500;
  }
  .content5 .textcontent5 {
    height: 25vh;
  }
  .content5 .textcontent5 h1 {
    font-size: 40px;
  }
  .content5 .textcontent5 p {
    font-size: 24px;
  }
  .content5 .buttons5 {
    font-size: 16px;
  }
  footer .text5a p {
    font-size: 12px;
    font-weight: 500;
  }
}

@media (width: 375px) {
  .content .textcontent {
    height: 35vh;
  }
  .content .textcontent .textA p {
    font-size: 16px;
  }
  .content .textcontent .textB h1 {
    margin-top: 3vh;
    font-size: 36px;
  }
  .content .textcontent .textC p {
    margin-top: 3vh;
    font-size: 24px;
  }
  .content .buttons {
    margin-top: 16vh;
  }
  .content .buttons .button1, .content .buttons .button2 {
    font-size: 24px;
    font-weight: 700;
  }
  .content .textD {
    width: 100%;
  }
  .content2 .container2 .textcontent2 {
    height: 60vh;
  }
  .content3 .container3 .textcontent3 {
    height: 60vh;
  }
  .content4 .container4 .textcontent4 {
    height: 60vh;
  }
}

@media (min-width: 1200px) {
  header {
    height: 156px;
  }
  header .container1 {
    width: 100%;
    height: 156px;
  }
  header .container1 .logo {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 90px;
  }
  header .container1 .logo img {
    max-width: 206px;
    height: 102px;
    width: 100%;
  }
  header .container1 .menuDesktop {
    display: block;
  }
  header .container1 .burger {
    display: none;
  }
  header .container1 .burgerSlide {
    display: none;
  }
  .content {
    position: relative;
  }
  .content .bgc {
    width: 100%;
    height: 619px;
    background-image: url("../img/bgc.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: -9999;
  }
  .content .textcontent {
    width: 1005px;
    margin-top: 72px;
    height: 326px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
  }
  .content .textcontent .textA p {
    font-size: 24px;
    color: white;
  }
  .content .textcontent .textB h1 {
    font-size: 58px;
    color: white;
  }
  .content .textcontent .textC {
    width: 728px;
    height: 96px;
    color: white;
  }
  .content .textcontent .textC p {
    margin-top: 10px;
    font-size: 24px;
  }
  .content .buttons {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 506px;
    height: 68px;
  }
  .content .buttons button:nth-child(1), .content .buttons button:nth-child(2) {
    margin: 0;
    width: 236px;
  }
  .content .buttons button:nth-child(1):hover {
    background-color: #fa6c38;
  }
  .content .buttons button:nth-child(2) {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
  .content .buttons button:nth-child(2):before {
    content: "";
    position: absolute;
    bottom: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .content .buttons button:nth-child(2):hover:before {
    bottom: 0;
    opacity: .2;
  }
  .content .phones {
    margin-top: 1vh;
    margin-bottom: 50px;
    margin-right: 5%;
  }
  .content .textD {
    margin-top: 72px;
    margin-bottom: 58px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .content .textD h1 {
    font-size: 44px;
  }
  .content .line {
    width: 884px;
  }
  .content.on {
    margin-top: 0vh;
  }
  .content2 {
    width: 100%;
    height: 657px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content2 .container2 {
    width: 1141px;
    height: 525px;
    position: relative;
  }
  .content2 .container2 .textcontent2 {
    position: absolute;
    top: 150px;
    right: 0;
    margin: 0;
    width: 568px;
    height: 280px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content2 .container2 .textcontent2 .text2A {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .content2 .container2 .textcontent2 .text2B {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 57px;
  }
  .content2 .container2 .textcontent2 .text2C {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 38px;
    width: 467px;
  }
  .content2 .container2 .textcontent2 .text2C p {
    font-size: 24px;
  }
  .content2 .container2 .phone2 {
    position: absolute;
    top: 0;
    left: 95px;
    margin: 0;
    padding: 0;
  }
  .content3 {
    margin-top: 150px;
    width: 100%;
    height: 657px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content3 .container3 {
    width: 1141px;
    height: 525px;
    position: relative;
  }
  .content3 .container3 .textcontent3 {
    position: absolute;
    top: 88px;
    left: 95px;
    margin: 0;
    width: 568px;
    height: 280px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content3 .container3 .textcontent3 .text3A {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .content3 .container3 .textcontent3 .text3B {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 57px;
  }
  .content3 .container3 .textcontent3 .text3C {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 38px;
    width: 467px;
  }
  .content3 .container3 .textcontent3 .text3C p {
    font-size: 24px;
  }
  .content3 .container3 .phone3 {
    position: absolute;
    top: -70px;
    right: 95px;
    margin: 0;
    padding: 0;
  }
  .content4 {
    margin-top: 74px;
    width: 100%;
    height: 657px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content4 .container4 {
    width: 1141px;
    height: 525px;
    position: relative;
  }
  .content4 .container4 .textcontent4 {
    position: absolute;
    top: 150px;
    right: 0;
    margin: 0;
    width: 568px;
    height: 280px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content4 .container4 .textcontent4 .text4A {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .content4 .container4 .textcontent4 .text4B {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 57px;
  }
  .content4 .container4 .textcontent4 .text4C {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 38px;
    width: 467px;
  }
  .content4 .container4 .textcontent4 .text4C p {
    font-size: 24px;
  }
  .content4 .container4 .phone4 {
    position: absolute;
    top: 0;
    left: 95px;
    margin: 0;
    padding: 0;
  }
  .content5 {
    width: 100%;
    height: 516px;
    background-image: url("../img/bgc2.png");
    background-repeat: no-repeat;
    background-size: 123%;
    background-position: center;
  }
  .content5 .textcontent5 {
    width: 860px;
    height: 135px;
  }
  .content5 .textcontent5 .text5A h1 {
    margin: 10px;
    font-size: 40px;
  }
  .content5 .textcontent5 .text5B p {
    margin: 10px;
    font-size: 24px;
    color: white;
  }
  .content5 .buttons5 {
    width: 331px;
    height: 64px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content5 .buttons5 button:nth-child(1) {
    width: 142px;
  }
  .content5 .buttons5 button:nth-child(2) {
    width: 173px;
  }
  .content5 .buttons5 button:nth-child(1):hover {
    background-color: #fa6c38;
  }
  .content5 .buttons5 button:nth-child(2):before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  .content5 .buttons5 button:nth-child(2):hover:before {
    top: 0;
    opacity: .2;
  }
  footer {
    width: 100%;
    height: 240px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .logo2, footer .text5B {
    display: block;
  }
  footer .socials {
    width: 171px;
    height: 41px;
  }
  footer .text5A {
    display: none;
  }
  footer .text5B span {
    font-size: 12px;
    font-weight: 700;
    color: #5C5C5C;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 12.7vh;
  }
  header .container1 .burgerSlide a {
    font-size: 32px;
  }
  .content .textcontent {
    height: 35vh;
    width: 70%;
  }
  .content .textcontent .textA p {
    font-size: 32px;
  }
  .content .textcontent .textB h1 {
    font-size: 42px;
  }
  .content .textcontent .textC p {
    font-size: 32px;
  }
  .content .buttons .button1, .content .buttons .button2 {
    font-size: 24px;
    font-weight: 700;
  }
  .content .textD h1 {
    font-size: 32px;
  }
  .content2 .textcontent2 {
    height: 40vh !important;
  }
  .content2 .textcontent2 .text2A p {
    font-size: 32px;
  }
  .content2 .textcontent2 .text2B h1 {
    font-size: 42px;
  }
  .content2 .textcontent2 .text2C p {
    font-size: 32px;
  }
  .content3 .textcontent3 {
    height: 40vh !important;
  }
  .content3 .textcontent3 .text3A p {
    font-size: 32px;
  }
  .content3 .textcontent3 .text3B h1 {
    font-size: 42px;
  }
  .content3 .textcontent3 .text3C p {
    font-size: 32px;
  }
  .content4 .textcontent4 {
    height: 40vh !important;
  }
  .content4 .textcontent4 .text4A p {
    font-size: 32px;
  }
  .content4 .textcontent4 .text4B h1 {
    font-size: 42px;
  }
  .content4 .textcontent4 .text4C p {
    font-size: 32px;
  }
  .content5 .textcontent5 {
    height: 25vh;
  }
  .content5 .textcontent5 h1 {
    font-size: 42px;
  }
  .content5 .textcontent5 p {
    font-size: 32px;
  }
  .content5 .buttons5 {
    font-size: 16px;
  }
  footer .text5A span {
    font-size: 16px;
  }
}

@-webkit-keyframes FbAndInAnim {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  10% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes FbAndInAnim {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  10% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  20% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes twAnim {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes twAnim {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */