*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
@import 'variables';
@import 'lg';
@import 'xxxs';
@import 'css1';
@import 'css2';
@import 'css3';
@import 'css4';
@import 'css5';
@import 'css6';
@import 'css7';


